elevenlabs==1.6.1
gigachain==0.2.12
gigachain-cli==0.0.28
gigachain-community==0.2.11
gigachain-core==0.2.29
gigachain-experimental==0.0.64
requests==2.32.3
sounddevice==0.4.7
SpeechRecognition==3.10.4