requests
streamlit
bokeh
streamlit_bokeh_events
audio_recorder_streamlit
streamlit_option_menu
gigachain
gigachain-cli
gigachain_core
gigachain_community
gigachain_experimental
SpeechRecognition
elevenlabs
python-dotenv
datasets
sentencepiece